
* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
     background: linear-gradient(150deg, #4601a0, #000d3a);
    color: #000d3a;
    font-family: 'Orbitron', sans-serif;
    overflow: hidden;
    position: relative;
}

.imglogo {
    width: 82%;
}

h3 {
  margin-bottom: 3%;
}

a {
    text-decoration: none;
    color: white;
    background-color: #2388c3;
    padding: 2%;
    border-radius: 3px;
    margin-top: 2%;
    margin-bottom: 2.8%;
    font-size: 140%;
}

.shape {
  position: absolute;
  width: 100px;
  height: 100px;
  background: rgba(192, 0, 255, 0.1);
  border: 2px solid #ff00ff;
  transform: rotate(45deg);
}

.shape1 {
  top: 20px;
  left: 20px;
}

.shape2 {
  bottom: 40px;
  right: 30px;
}
